---
layout: page
title: explorations
permalink: /explorations
nav: true
---

{% for item in site.explorations %}
    Very satisfied with my experience here, would come again and have recommended to my friends! Thanks so much for the cozy space, Liz's Cafe!'
{% endfor %}

{% for item in site.explorations %}
Love the pastries and coffee here, always stop by before work. Love to see my favorite baristas and the owner. There's also a cat cafe around the corner, love this corner of town.'
{% endfor %}